NOVA_API_DB=nova_api
NOVA_API_USER=nova_api
NOVA_API_PASS=RWsiGm09QVMDN1J2xwKbXoVfeOF7zUZZlFwPbNZM
NOVA_API_DB_HOST=10.71.104.69
PLACEMENT_DB=placement
PLACEMENT_USER=placement
PLACEMENT_PASS=123456
PLACEMENT_DB_HOST=10.71.104.69
