global
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon
    log 10.71.104.70:5140 local1
    maxconn 40000
    nbproc 1
    stats socket /var/lib/kolla/haproxy/haproxy.sock group kolla mode 660

defaults
    log global
    option redispatch
    retries 3
    timeout http-request 10s
    timeout queue 1m
    timeout connect 10s
    timeout client 1m
    timeout server 1m
    timeout check 10s
    balance roundrobin
    maxconn 10000

listen stats
   bind 10.71.104.70:1984
   mode http
   stats enable
   stats uri /
   stats refresh 15s
   stats realm Haproxy\ Stats
   stats auth openstack:Ize654QiOSoEL7nGk7Uo4hm8huJC31cH5ZnwTsWa

frontend status
    bind 10.71.104.70:61313
    bind 10.71.104.69:61313
    mode http
    monitor-uri /
